body {
	font-family: 'Roboto', sans-serif;
}

.logo {
	height: 2.3rem;
}

li {
	margin-bottom: 1.6rem;
}

.welcome{
	margin-top: 19vh;
}

/* text focus */
.text-focus-in {
	-webkit-animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  @keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  
  /* text focus end */


input{
	height: 45px;
	box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
}

#inputSelector, #lang_select{
	height: 45px;
	box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
}

#players_list{
	font-size: 15px;
	font-weight: bold;
}

#btn_start_game{
	height: 60px;
	box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
}



.input-group-text{
	font-size: 20px;
	font-weight: bold;
	justify-content: space-between;
}

.number{
	margin-left: 5px;
}

#golfer{
	height: 25px;
}

.index_bng {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/minigolf.webp);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.score_bg {
	background-color: #212529;
}

#welcome {
	margin-top: 11vh;
}

#welcome, #lang_picker, #players_list {
	text-shadow: 2px 3px 2px rgba(0,0,0,0.6);
}

#btn_continue_esp,
#btn_continue_eng,
#start_game {
	letter-spacing: 0.15rem;
	height: 3.8rem;
	font-size: large;
	box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
}

.btn_shadow {
	font-size: larger;
	box-shadow: 0px 4px 9px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: 0px 4px 9px 0px rgba(255, 255, 255, 0.28);
	-moz-box-shadow: 0px 4px 9px 0px rgba(255, 255, 255, 0.28);
}

.btnRules_shadow {
	letter-spacing: 0.1rem;
	border: 0.5px solid;
	border-color: lightgray;
	/* box-shadow: 0px 0px 14px -3px rgba(255, 255, 255, 0.75);
	-webkit-box-shadow: 0px 0px 14px -3px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: 0px 0px 14px -3px rgba(255, 255, 255, 0.75); */
}

/* .table-container {
    max-width: 100%;
    overflow-x: auto;
}

.table-container table {
    border-collapse: collapse;
    width: auto; 
}

.table-container th, .table-container td {
    padding: 12px;
    text-align: center;
}

.table-container th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.table-container th:first-child {
    left: 0;
    z-index: 3;
}

.table-container td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

.table-container tbody {
    max-height: 300px; 
} */

th{
	position: sticky;
	top: 0;
}

#table-container {
    max-height: calc(90vh - 130px);
    overflow-x: auto;
}

#table-container td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

#table-container th, #table-container td {
    padding: 12px;
    text-align: center;
}

.offcanvas{
	width: 150px;
}

.fade_in {
	animation: myAnim 0.5s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.alto_score,
.form-select {
	height: 2.8rem;
	font-size: larger;
	font-weight: bold;
}

.selector_width{
	width: 65px; 
}

.hole_numbers {
	font-size: x-large;
	font-weight: bold;
}

.bootstrap-select.btn-group .btn .filter-option {
	text-align: right;
}

#scores_table {
	margin-bottom: 130px;
}

.final_scores {
	color: yellow;
	font-weight: bold;
}

.min-value {
    color: lightgreen;
	font-weight: bolder;
}

/* .score_bottom{
	box-shadow: 0px -6px 3px -2px rgba(66,158,255,0.53);
-webkit-box-shadow: 0px -6px 3px -2px rgba(66,158,255,0.53);
-moz-box-shadow: 0px -6px 3px -2px rgba(66,158,255,0.53);
} */

.col_width{
	width: 20vw;
}


.modal-header,
.btn-close,
.modal-content,
.modal-footer {
	background-color: #212529;
	color: white;
}

.ball_fisher_img {
	height: 13rem;
	width: 10rem;
}

.firma {
	display: flex;
	justify-content: center;
	color: white;
}
.center_divs {
	display: flex;
	justify-content: center;
}
/* 
#results {
	letter-spacing: 0.5rem;
} */
