body {
	font-family: 'Roboto', sans-serif;
}

.index_bng {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/minigolf.webp);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.score_bg {
	background-color: #212529;
}

#welcome {
	margin-top: 11vh;
}

.btn_shadow {
	font-size: larger;
	box-shadow: 0px 4px 9px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: 0px 4px 9px 0px rgba(255, 255, 255, 0.28);
	-moz-box-shadow: 0px 4px 9px 0px rgba(255, 255, 255, 0.28);
}

.home_golfer {
	height: 20vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* width: 50%; */
}

/* fade in btn */
/* .fade_in {
	animation: fadeIn ease-in-out 0.5s;
	animation-iteration-count: 1;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */

.fade_in {
	animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
