body {
	font-family: 'Roboto', sans-serif;
}

.index_bng {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/minigolf.webp);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.score_bg {
	background-color: #212529;
}

#welcome {
	margin-top: 11vh;
}

.btn_shadow {
	font-size: larger;
	box-shadow: 0px 4px 9px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: 0px 4px 9px 0px rgba(255, 255, 255, 0.28);
	-moz-box-shadow: 0px 4px 9px 0px rgba(255, 255, 255, 0.28);
}

.btnRules_shadow {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.fade_in {
	animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.alto_score,
.form-select {
	height: 3.3rem;
	font-size: larger;
}

/* .form-select {
	color: blue;
} */

#scores_table {
	margin-bottom: 7rem;
}

.advert {
	height: 3rem;
	background-color: lightgrey;
	color: blue;
	padding: 10px;
}

/* .final_scores {
	color: lightblue;
} */

.modal::backdrop { 
	background-color: #212529;
}
